@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

#container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: "Ubuntu", sans-serif;
  background-color: #c0c0c0;
}

#left {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: whitesmoke;
  border: solid gray 3px;
  height: 100vh;
  border-radius: 15px;
  margin-top: 20px;
}

#leftChild {
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  border: 0px;
  height: 100%;
  overflow: scroll;
  border-radius: 15px;
}

#right {
  width: 35%;
  background-color: whitesmoke;
  border: solid gray 3px;
  height: 100vh;
  border-radius: 15px;
  color: gray;
  margin-top: 20px;
}

.card-div {
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  padding: 8px;
  background-color: burlywood;
  min-height: 180px;
  text-align: center;
  align-self: center;
  margin: 0px 0 20px 0;
  width: 90%;
  border: solid gray 2px;
  border-radius: 15px;
}

.card-div button {
  align-content: center;
  margin: 5px;
  outline: none;
  border: solid gray 1px;
  color: white;
  border-radius: 5px;
  background-color: gray;
}

.card-div .card-input {
  align-content: center;
  display: inline-block;
}

.card-div:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

.page-title,
h2 {
  text-align: center;
  color: grey;
}
#right-btns {
  border-radius: 5px;
  width: auto;
  align-self: center;
  color: gray;
}

#addAccBtn {
  border: solid gray 1px;
  outline: none;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  width: 200px;
  align-self: center;
  color: gray;
}

.right-input-label {
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}

.right-input {
  float: left;
  width: 200px;
}

form {
  margin: 10px;
}

.para-left-card-name,
.para-left-card-output {
  margin: 0px;
}

.results-label {
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
}

.results-span {
  float: left;
  width: 200px;
}
