#
# A very simple ignore file
#

# these directories will be ignored
src/python/comp-230/__pycache__
src/python/__pycache__/
src/python/.DS_Store
/.DS_Store
/sql-exercises/.DS_Store
/coverage
/node_modules
src/.DS_Store
.vscode/settings.json
src/02-dom/.DS_Store
src/02-dom/sandbox/.DS_Store
src/02-dom/sandbox/scripts/.DS_Store
src/02-dom/scripts/.DS_Store
src/03-objects/scripts/sandbox/.vscode/
src/python/api/flask/
src/python/api/.vscode/
src/python/api/.pytest_cache/
