.Images-header {
  min-height: 50vh;
  display: flex;
  background-color: #282c34;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes imagesmove {
  50% {
    transform: rotate(180deg);
  }
}

.Images-svg {
  height: 20vmin;
  animation: imagesmove 5s infinite;
}

.Images-svg:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
