@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

body {
	background-color: lightgray;
	font-family: "Ubuntu", sans-serif;
}
#container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#left {
	width: 40%;
	background-color: whitesmoke;
	text-align: center;
	border: solid gray 3px;
	height: 100vh;
	overflow: scroll;
	border-radius: 15px;
}
#right {
	width: 40%;
	background-color: whitesmoke;
	text-align: center;
	border: solid gray 3px;
	height: 100vh;
	border-radius: 15px;
	color: gray;
}
.card-div {
	box-sizing: border-box;
	display: inline-block;
	margin: auto;
	padding: 8px;
	background-color: burlywood;
	min-height: 180px;
	text-align: center;
	margin: 0px 0 20px 0;
	width: 90%;
	border: solid gray 2px;
	border-radius: 15px;
}
.card-div button {
	align-content: center;
	margin: 5px;
	outline: none;
	border: solid gray 1px;
	color: white;
	border-radius: 5px;
	background-color: gray;
}
.card-div:nth-child(odd) {
	background-color: lightgoldenrodyellow;
}
.page-title {
	text-align: center;
	color: grey;
}
#btn-top-add {
	border: solid gray 2px;
	outline: none;
	margin: 20px;
	border-radius: 5px;
}
