@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

/* new css */
body {
	font-family: "Ubuntu", sans-serif;
	background-color: lightgray;
}
.heading {
	text-align: center;
}
p,
ol {
	text-align: left;
	margin-left: 10px;
}
#container {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
}
#leftPanel {
	width: 17.5%;
	background-color: whitesmoke;
	text-align: center;
	height: 500px;
	color: gray;
}
#middlePanel {
	display: flex;
	width: 55%;
	background-color: whitesmoke;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	height: 500px;
}
#rightPanel {
	width: 17.5%;
	background-color: whitesmoke;
	text-align: center;
	height: 500px;
	color: gray;
}
#userPanel {
	width: 85%;
	background-color: lightgray;
	text-align: center;
	align-self: center;
	justify-content: space-evenly;
	border: solid gray 3px;
	height: 400px;
	overflow: scroll;
	border-radius: 15px;
}
#trxButtons {
	text-align: center;
	border-radius: 9px 9px 9px 9px;
	outline: none;
}
#amtDispParent {
	margin-left: calc(50% - 122.5px);
}

/* old css */

/*
.body-class-index {
	font-family: "Ubuntu", sans-serif;
}
input {
	outline: 1px solid grey;
	margin-right: 10px;
}
.container-index {
	border: 5px solid gray;
	margin: auto;
	width: 600px;
}
h1 {
	text-align: center;
}
main {
	height: 100vh;
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 5px solid gray;
	margin: auto;
	width: 600px;
}
*/
