@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.body-class-index {
	font-family: "Ubuntu", sans-serif;
}
input {
	outline: 1px solid grey;
	margin-right: 10px;
}
.container-index {
	border: 5px solid gray;
	margin: auto;
	width: 600px;
}
h1 {
	text-align: center;
}
main {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	border: 5px solid gray;
	margin: auto;
	width: 600px;
}
