@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.body-class-index,
.body-class-cards {
	font-family: "Ubuntu", sans-serif;
}
input {
	outline: 1px solid grey;
	margin-right: 10px;
}

.container-index {
	border: 5px solid gray;
	margin: auto;
	width: 600px;

	/* display: grid;
	border-right: 5px solid gray;
	border-left: 5px solid gray;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
	grid-template-columns: minmax(500px, 1fr); */
	/* grid-template-rows: 100vh;
	justify-content: center;
	align-content: center; */
}
h1 {
	/* display: subgrid; */
	text-align: center;
}
