@import url("https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap");

ol,
ul {
  padding-left: 30px;
}

.status {
  font-size: 4rem;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0c0c0;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  min-width: 900px;
}

.game-info {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.game-options {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 5px 0px 0px 0px;
}

.game-board {
  width: 50%;
  text-align: center;
}

.board-row-div {
  justify-content: center;
  float: left;
  position: relative;
  left: 50%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #ffffff;
  border: 1px solid #999;
  float: left;
  position: relative;
  left: -50%;
  font-size: 4rem;
  font-weight: 900;
  line-height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 120px;
  width: 120px;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.btn-secondary {
  margin: 5px;
  width: 180px;
  outline: none !important;
}

.btn-success {
  margin: 10px 0px 10px 35px;
  outline: none !important;
  width: 180px;
}

.btn-dark {
  margin: 5px;
  width: 180px;
  outline: none !important;
  float: right;
}

.square--winning {
  background-color: yellow !important;
}
select {
  background-color: #343a40 !important;
  color: #fff !important;
}

.form-control {
  width: 180px !important;
  float: right;
  margin: 5px;
  outline: none !important;
}
