@import url("https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap");

body {
  text-align: center;
  background-color: #d3d3d3;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
