@import url("https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap");

ol,
ul {
  padding-left: 30px;
}

.status {
  font-size: 2.5rem;
  font-weight: bold;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c0c0c0;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.game-board {
  margin-top: 50px;
}

.game-info {
  margin: 40px 0px 0px 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #ffffff;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: 900;
  line-height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 100px;
  width: 100px;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.btn-primary {
  margin: 5px;
  width: 180px;
}
