.Images-header,
p {
  max-height: 25vh;
  display: flex;
  background-color: #282c34;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@keyframes imagesmove {
  50% {
    transform: rotate(180deg);
  }
}

.Images-svg {
  height: 7vmax;
  width: auto;
  animation: imagesmove 5s infinite;
}

.Images-svg:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

p {
  color: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 1.1rem;
}
p:hover {
  color: red;
}
