@import url("https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap");

@keyframes imagesmove {
  50% {
    transform: rotate(180deg);
  }
}

.images-svg {
  height: 8vmax;
  width: auto;
  animation: imagesmove 5s infinite;
}

.images-svg:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}

.images-header {
  max-height: 25vh;
  height: 110px;
  display: flex;
  background-color: #c0c0c0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-blue {
  color: blue;
  font-weight: bold;
  font-size: 1.1rem;
}

.header-red {
  color: red;
  font-weight: bold;
  font-size: 1.1rem;
}
#menuContainer {
  background-color: #c0c0c0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
