body {
	font-family: "Ubuntu", sans-serif;
	background-color: lightgray;
}
.heading {
	text-align: center;
}
#container {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
}
#leftPanel {
	width: 17.5%;
	background-color: whitesmoke;
	text-align: center;
	height: 500px;
	color: gray;
}
#middlePanel {
	display: flex;
	width: 55%;
	background-color: whitesmoke;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	height: 500px;
	overflow: scroll;
}
#userPanel {
	width: 85%;
	background-color: gray;
	text-align: center;
	align-self: center;
	justify-content: space-evenly;
	border: solid gray 3px;
	height: 400px;
	border-radius: 15px;
}
#rightPanel {
	width: 17.5%;
	background-color: whitesmoke;
	text-align: center;
	height: 500px;
	color: gray;
}
#bankLogo {
	width: 150px;
	height: 150px;
}
#balResult {
	font-size: 1.5rem;
}
#amountInput {
	width: 350px;
	outline: none;
	border: solid gray 2px;
	border-radius: 5px;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
}
.btn {
	margin: 5px;
	border-radius: 10px 10px 10px 10px;
}
#amtDispValue {
	width: 350px;
	height: 40px;
	color: greenyellow;
	text-align: center;
	font-size: 1.25rem;
	background-color: black;
	overflow: hidden;
	white-space: nowrap;
	padding: 6px;
	border-radius: 10px 10px 10px 10px;
}
.row {
	display: table;
	table-layout: fixed;
}
.column {
	display: table;
}
#amtDispParent {
	margin-left: calc(50% - 175px);
}
p {
	color: white;
}
#depBtn,
#balBtn,
#wthBtn,
.btn:focus,
.btn:active:focus {
	outline: none;
}
